<?xml version="1.0"?>
<launch>
	<arg name="radius" default="3"/>
	<arg name="velocity" default="3"/>
	<arg name="node_start_delay" default="10.0" />
	<node pkg="turtlesim" type="turtlesim_node" name="turtle"/>
	
	<node pkg="turtlesim_task" type="goal_2.py" name="turtlebot_RT" output="screen">
		<param name="r" value="$(arg radius)" />
		<param name="v" value="$(arg velocity)"/>

	</node>

	<node pkg="turtlesim_task" type="circle_chase.py" name="turtlebot_PT" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' " output="screen"/>
</launch>
